@use '../../../assest/scss/abstract/mixins' as *;

.sidebar-menus {
  .show-in-mobile {
    display: none;
    padding: 0 5px;

    .profile-setting-wrapped {
      .profile-section {
        margin-bottom: 10px;
        gap: 5px;
      }
    }

    @include media_768 {
      display: block;
    }
  }

  .sidebarlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 0;
    max-width: 75%;
    margin: auto;
    margin-bottom: 20px;

    @include media_768 {
      padding: 18px 0;
      max-width: 65%;
      gap: 10px;
    }

    .name {
      margin-top: 15px;
    }

    .icon {
      img {
        width: 50px;

        @include media_768 {
          width: 40px;
        }
      }
    }
  }

  .sidebar_icon_list {
    .sidebar_label {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        svg {
          height: 24px;
          width: 24px;
          fill: var(--theme-purple);
        }
      }
    }

    .name {
      font-weight: 700;
      color: var(--color_202224);
      line-height: 20px;
      font-size: var(--font_16);

      &.submenus {
        .name {
          padding-left: 12px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: var(--theme-blue);
            top: 8px;
          }
        }
      }

      @include media_1280 {
        font-size: var(--font_12);
      }

      a {
        color: var(--color_647C9B);
      }
    }

    .ps-submenu-expand-icon {
      display: none;
      span {
        color: var(--color_647C9B);
        transform: rotate(45deg);
        width: 8px;
        height: 8px;
        transition: 0.4s ease-in-out;
      }

      &.ps-open {
        span {
          transform: rotate(225deg);
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        .ps-menu-button {
          height: unset;
          padding: 8px 10px;
          transition: .3s;
          border-radius: 20px;
          margin: 10px;
          @include media_1280 {
            margin-bottom: 5px;
          }

          &:hover {
            background-color: var(--theme-purple);
                  .name{
                  color: var(--white-color);
                }
                svg {
                  path {
                    fill: var(--white-color);
                  }
                }
          }
        }

        // // Submenu Styling
        // .submenus-items {
        //   &.active {
        //     color: #007bff;
        //     font-weight: bold;
        //     background-color: rgba(0, 123, 255, 0.1);
        //   }

        //   &:hover {
        //     background-color: rgba(0, 123, 255, 0.05);
        //   }
        // }

        &.ps-submenu-root {
          &.active {
            .ps-menu-button {
                background-color: var(--theme-purple);
                border-radius: 20px;
                .name{
                  color: var(--white-color);
                }
                svg {
                  path {
                    fill: var(--white-color);
                  }
                }
            }
          }
        }

        .submenus-items {
          &.active {
            .ps-menu-button {
              background-color: #4679BD40;

              svg {
                path {
                  fill: var(--theme-blue);
                }
              }
            }
          }
        }
      }
    }
  }
}