@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-ExtraBold.ttf");
	font-weight: 900;
}
@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Outfit";
	src: url("../../fonts/Outfit/static/Outfit-Light.ttf");
	font-weight: 300;
}
// Font Family
$Font_Outfit: Outfit;

:root{
	--Outfit:Outfit;
}