.succes-message{
        text-align: center;
        .check-img{
            max-width: 157px;
            margin: auto;
            margin-bottom: 10px;
        }
        .title{
            font-size: var(--font_20);
            font-weight: 600;
        }
    }