.salechart {
    position: relative;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        .price-header {
            .price {
                font-weight: 500;
                font-size: 19px;
                color: var(--color_232D42);
            }
        }
        .grey_label{
            color: #8A92A6;
            font-size: var(--font_16);
            font-weight: 400;
        }
    }
}